{% extends 'base.html' %}

{% load static %}

{% block Main_Code %}

<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-4 col-lg-5">
                <div class="card">

                    <!-- Logo -->
                    <div class="card-header pt-4 pb-4 text-center bg-primary">
                        <!-- <a href="index-2.html">
                                <span><img src="{% static 'assets/images/logo.png' %}" alt="logo" height="22"></span>
                            </a> -->
                        <h2 class="text-white-50 text-center pb-0 fw-bold">Digital Society</h2>
                    </div>

                    <div class="card-body p-4">

                        <div class="text-center w-75 m-auto">
                            <h4 class="text-dark-50 text-center pb-0 fw-bold">Sign In</h4>
                        </div>

                        {% if error %}
                        <h3 style="color: crimson">{{ error }}</h3>
                        {% endif %}

                        <form action="{% url 'signin' %}" method="post">
                            {% csrf_token %}

                            <div class="mb-3">
                                <label for="emailaddress" class="form-label">Email address</label>
                                <input class="form-control" type="email" id="emailaddress" required=""
                                    placeholder="Enter your email" name="email">
                            </div>

                            <div class="mb-3">
                                <a href="{% url 'forgot_pwd_page' %}" class="text-muted float-end"><small>Forgot your
                                        password?</small></a>
                                <label for="password" class="form-label">Password</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" id="password" class="form-control"
                                        placeholder="Enter your password" required="" name="password">
                                    <div class="input-group-text" data-password="false">
                                        <span class="password-eye"></span>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="mb-3 mb-3">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="checkbox-signin" checked>
                                        <label class="form-check-label" for="checkbox-signin">Remember me</label>
                                    </div>
                                </div> -->

                            <div class="mb-3 mb-0 text-center">
                                <button class="btn btn-primary" type="submit"> Log In </button>
                            </div>

                        </form>
                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-muted">Don't have an account? <a href="{% url 'signup_page' %}"
                                class="text-muted ms-1"><b>Sign Up</b></a></p>
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->

<footer class="footer footer-alt">
    2018 -
    <script>document.write(new Date().getFullYear())</script> © Digital Society - Coderthemes.com
</footer>
<!-- Vendor js -->


{% endblock %}